<!DOCTYPE html>
<html>
<head>
	<title>Contact</title>
</head>
<body>


<div class="card">
 	 <div class="card-body">
  	  			<h3> Voici notre groupe: </h3>
 	 </div>
</div>


<div class="card" style="width: 120rem;">
  	<div class="card text-center">
    	<div class="card-body">
    		<h5 class="card-title"> </h5>
    		<p class="card-text">Fenohery FANOMEZANINIRINA.</p>
    		<a href="https://github.com/fenoh3ry" class="btn btn-primary"> Github </a>
    	</div>
  </div>
</div>

<div class="card" style="width: 120rem;">
	<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title"> </h5>
    <p class="card-text"> Anto ANDRIANJAFY.</p>
    <a href="https://github.com/ANTO207" class="btn btn-primary"> Github </a>
  </div>
  </div>
</div>

<div class="card" style="width: 120rem;">
  <div class="card text-center">
  <div class="card-body">
    <h5 class="card-title"> </h5>
    <p class="card-text"> Finaritra ANDRIAMAHATANY.</p>
    <a href="https://github.com/Fina20" class="btn btn-primary"> Github </a>
  </div>
  </div>
</div>
</body>
</html>