<!DOCTYPE html>
<html>
<head>
	<title>Team</title> 
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
</head>

	<body><div class="alert alert-dark" role="alert">
 		<h2 style="text-align: center;">😻❤️😇 TEAM THP 5 GROUPE 3 VOUS REMERCIE D'AVOIR VISITER NOTRE APPLIS 😇❤️😻</h2> 
	</div>
</body>
</html>